.bg {
  background-color: black;
  height: 150% !important;
  width: 100%;
  text-align: center;
}

.headingText {
  padding-top: 2vh;
  font-size: 5vh;
  color: white;
  margin: 0;
  text-decoration: underline;
}

.para {
  font-size: 2vh;
  color: white;
  margin-left: 10vh;
  margin-right: 10vh
}

.images {
  width: 80%;
  border-radius: 15px;
  box-shadow: rgba(255, 255, 255, 0.5) 10px 10px 5px;
  background-color: black;
}

.lineLinks {
  color: #0077ff !important;
  text-decoration: underline;
  font-weight: bold;
}